.product {
	width: 300px;
	padding: 1rem;
	background: var(--white);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	margin: 8px auto;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.product > img {
	height: 170px;
	border-radius: 8px;
}

.product__info > p {
	margin-bottom: 8px;
}

.info__price {
	font-weight: bold;
}

.info__name {
	font-size: 1rem;
	overflow: hidden;
}

.info__description {
	font-size: 0.8rem;
}

.info__button {
	display: block;
	width: 100%;
	text-decoration: none;
	text-align: center;
	color: var(--black);
	background-color: var(--white);
	padding: 8px 16px;
	border: 2px solid var(--black);
	font-size: 1rem;
}

.info__button:hover {
	background-color: var(--black);
	color: var(--white);
}

@media screen and (max-width: 1232px) {
	.product {
		width: 360px;
	}
}

@media screen and (max-width: 1115px) {
	.product {
		width: 330px;
	}
}

@media screen and (max-width: 1028px) {
	.product {
		width: 300px;
	}
}

@media screen and (max-width: 950px) {
	.product {
		width: 400px;
	}
}

@media screen and (max-width: 830px) {
	.product {
		width: 330px;
	}
}

@media screen and (max-width: 700px) {
	.product {
		width: 290px;
	}
}

@media screen and (max-width: 630px) {
	.product {
		width: 400px;
	}
}

@media screen and (max-width: 500px) {
	.product {
		width: 350px;
	}
}

@media screen and (max-width: 400px) {
	.product {
		width: 300px;
	}
}
