.cartscreen {
	display: flex;
	max-width: 1300px;
	margin: 2rem auto;
}

.cartscreen h2 {
	margin-bottom: 1rem;
}

.cartscreen__left {
	flex: 0.7;
	margin-right: 1rem;
	background-color: transparent;
	padding: 1rem;
}

.cartscreen__right {
	flex: 0.3;
	background-color: var(--white-pure);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
	height: fit-content;
}

.cartscreen__right > div {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 1rem;
}

.cartscreen__right div:last-child {
	border: none;
}

.cartscreen__info > p {
	padding: 8px;
}

.cartscreen__right > div > button {
	padding: 10px 17px;
	width: 100%;
	background-color: var(--black);
	color: var(--white);
	border: 2px solid var(--black);
	cursor: pointer;
}

.cartscreen__right > div > button:hover {
	opacity: 0.9;
}

@media screen and (max-width: 1320px) {
	.cartscreen {
		max-width: 900px;
	}
}

@media screen and (max-width: 960px) {
	.cartscreen {
		max-width: 800px;
	}
}

@media screen and (max-width: 960px) {
	.cartscreen {
		max-width: 800px;
		flex-direction: column;
	}

	.cartscreen__left {
		margin: 0;
	}

	.cartscreen__right {
		margin: 1rem;
	}
}
