.productscreen {
	max-width: 1300px;
	margin: 1rem auto;

	display: flex;
}

.productscreen__left {
	display: flex;
	flex: 0.8;
}

.left__image {
	margin: 1rem;
	flex: 0.6;
}

.left__info {
	margin: 1rem;
	flex: 0.4;
	background-color: var(--white-pure);
	height: fit-content;
	font-size: 0.9rem;
}

.left__name {
	font-weight: bold;
	font-size: 1.3rem;
}

.left__info > p,
.right__info > p {
	padding: 1rem;
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.left__info > p:last-child,
.right__info > p:last-child {
	border: none;
}

.productscreen__right {
	flex: 0.2;
}

.right__info {
	width: 250px;
	margin: 1rem;
	background: var(--white-pure);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.right__info > p {
	padding: 1rem;
	font-size: 0.8rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.right__info p > button {
	grid-column: 1/-1;
	padding: 10px 16px;
	background-color: var(--black);
	color: var(--white);
	border: 2px solid var(--black);
	cursor: pointer;
}

p.right__info__edit {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

p.right__info__restock {
	display: flex;
}

.right__info form {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.right__info select {
	padding: 10px 16px;
	border: 1px solid var(--black);
}

@media screen and (max-width: 960px) {
	.productscreen {
		flex-direction: column;
	}

	.productscreen__left {
		flex-direction: column;
		flex: 1;
	}

	.left__image {
		flex: 1;
	}

	.left__info {
		flex: 1;
	}

	.productscreen__right {
		flex: 1;
		padding: 1rem;
	}

	.right__info {
		width: 100%;
		margin: 0;
	}
}
